@model LoveBank.Web.Models.UserLoginModel
@{
    ViewBag.Title = "用户登陆";
}   
<script type="text/javascript" src="@Url.Content("~/Content/Default/JS/jquery.validate.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Content/Default/JS/messages_zh.js")"> </script>
<script type="text/javascript">
    $().ready(function () {
        $('form').validate({
            rules: {
                UserName: "required",
                Password: "required",
                Validate: {
                    required: true,
                    number: true,
                    minlength: 4,
                    maxlength: 4
                }
            },
            messages: {
                UserName: "<i class='ui-tiptext-icon iconfont' id='iusername-error'  title='出错'>&#xf0155;</i><span  style='color:Red;'>请输入用户名或邮箱！</span>",
                Password: "<i class='ui-tiptext-icon iconfont' id='iusername-error'  title='出错'>&#xf0155;</i><span  style='color:Red;'>请输入密码！</span>",
                Validate: {
                    required: "<i class='ui-tiptext-icon iconfont' id='iusername-error'  title='出错'>&#xf0155;</i><span  style='color:Red;'>请输入验证码！</span>",
                    number: "<i class='ui-tiptext-icon iconfont' id='iusername-error'  title='出错'>&#xf0155;</i><span  style='color:Red;'>请输入数字！</span>",
                    minlength: "<i class='ui-tiptext-icon iconfont' id='iusername-error'  title='出错'>&#xf0155;</i><span  style='color:Red;'>请输入四位验证码</span>",
                    maxlength: "<i class='ui-tiptext-icon iconfont' id='iusername-error'  title='出错'>&#xf0155;</i><span  style='color:Red;'>请输入四位验证码</span>"
                }
            },
            errorPlacement: function (error, element) {
                if (element.is("#UserName")) {
                    error.appendTo("#username-error");
                }
                else if (element.is("#Password")) {
                    error.appendTo("#password-error");
                }
                else if (element.is("#Validate")) {
                    error.appendTo('#validate-error');
                }

            }

        });
    });
</script>
<div class="ui-body">
    <div class="ui-inner">
       <div class="ui-box ui-login fn-clear" style="background:#fff url(@Url.Content("~/Content/Default/Images/login_bg_1.png")) 0 0 no-repeat;">

                    @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "ui-form" }))
                {
                    @Html.HiddenFor(x=>x.ReturnUrl)
                    <fieldset>
                        <legend>会员登录</legend>
                        <div class="ui-form-item">
                            <label class="ui-label"> <i class="iconfont">&#xf012d;</i> 邮箱/用户名/已验证手机</label>
                            <input type="text" id="UserName" name="UserName" class="ui-input ui-input-large" value="" />
                            <p id="username-error" class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                        </div>
                        <div class="ui-form-item">
                            <label class="ui-label"> <i class="iconfont">&#xf00c9;</i> 密码</label>
                            <input type="password" class="ui-input ui-input-large" id="Password" name="Password" />
                            <p id="password-error" class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                        </div>
                      @*  <div class="ui-form-item">
                            <label class="ui-label">验证码</label>
                            <input type="text" class="ui-input ui-input-large" id="Validate" name="Validate" style="width: 100px" />@Html.ValidateImage()
                             <p id="validate-error" class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                        </div>*@
                        <div class="ui-form-item fn-clear">
                            <span class="fn-left">
                                <input class="ui-checkbox" id="autoSign" name="autoSign" value="true" type="checkbox"/>
                                <label class="ui-checkbox-label" for="test2">自动登录</label>
                            </span>
                            <a href="@Url.Action("ForgetPassword")" class="fn-right">忘记密码？</a>
                        </div>
   
                        <div class="ui-form-item" style="color: red;">
                            @Html.ValidationSummary(true)
                        </div>
                        <div class="ui-form-item">
                            <input type="hidden" name="ajax" value="1" />
                            <input type="submit" class="ui-btn-big" value="登录"/>
                        </div>
                         <div class="ui-form-item">
                            <a  href="@Url.Action("Register")" >免费注册<i class="iconfont">&#xf02af;</i></a>
                        </div>
                    </fieldset>
                }
       </div>
    </div>
</div>
