@model  LoveBank.Common.IPagedList<LoveBank.Core.Domain.UnionHelpPoject>
@using MvcContrib.UI.Pager;
@using LoveBank.Common
@using LoveBank.MVC
@using LoveBank.MVC.UI
@using MvcContrib.UI.Grid

@section HeadSection {
    <script type="text/javascript">

        function del(id) {

            var url = '@Url.Action("Delete")' + '?id=' + id;
            deleteMethod(id, "Delete");

        }

        function add() {

            var url = '@Url.Action("Add")' + '?id=' + 00;

            showAjaxResult(url, "增加项目", 550, 270);
        }

        function addDetail(id) {

            var url = '@Url.Action("AddDetail")' + '?unionHelpPojectID=' + id;

            showAjaxResult(url, "增加项目资助详情", 650, 470);
        }
        function unionHelpPojectDetailList(id,pojectTitle) {
                             
            var url = '@Url.Action("unionHelpPojectDetailList")' + '?unionHelpPojectID=' + id;

            showAjaxResult(url, pojectTitle+" 项目资助情况", 1100, 600);
        }

        
    </script>
<style>
    .dialog-box .dialog-content {
        padding: 0px;
    }
</style>

}


<div id="button_row">

    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="@Url.Action("Add")">新增项目</a>
</div>
<div class="grid_box">

    @Html.Grid(Model).Columns(column =>
    {
        //column.CheckBox(x => x.Id);
        column.For(x => x.ID).Named("ID");
        column.For(x => x.PojectTitle ?? "").Named("项目标题");
        column.For(x => x.PojectUnit ?? "").Named("填报单位");
        column.For(x => x.PojectAddUser).Named("填报人");
        column.For(x => x.PojectPhone).Named("联系电话");
        column.For(x => x.PojectType).Named("项目类型");
        column.For(x => x.PojectDate.ToString("yyyy-MM-dd")).Named("填报日期");
        column.For(x => x.AddTime.ToString("yyyy-MM-dd HH:mm")).Named("添加");
      
        //column.For(x => (x.Department ?? new LoveBank.Core.Domain.Department()).Name ?? "").Named("所属区域");
        column.For(x => x.State).Named("设备状态");
    
        column.Buttons(btns => btns
            //.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.ID }))
            .Add(x => Html.ScriptLink("添加资助详情", "addDetail({0})", x.ID))
             .Add(x => Html.ScriptLink("查看资助详情", "unionHelpPojectDetailList({0},'{1}')", x.ID,x.PojectTitle))
            .Add(x => Html.ScriptLink("删除", "del({0})", x.ID))
           
            
            );
    }).Complex(ViewData)

</div>

@Html.Pager(Model)